@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../content/**/*";

/* @layer base {
  body {
    @apply bg-slate-50;
  }
} */

body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}
